{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Paygo Test">
    <meta name="author" content="Daniel Luna">
    <title>Payco Test</title>

    <link rel="canonical" href="http://3.135.82.80/">
    <link rel='icon' href='{% static 'assets/brand/favicon.ico' %}' type='image/x-icon' sizes="16x16" />
    <link href="{% static 'assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand" href="{% url 'home'%}">SU Logistics</a>
          <div>
            <div class="btn-group float-end">
              <!--Si el usuario esta logueado se muestra la opción de home y cerrar sesión -->
              {% if user.is_authenticated %}
              <div class="mx-1">
                <a href="{% url 'home'%}" class="ext-decoration-none text-light mx-auto">
                  <span>Home</span>
                </a>
              </div>
              <div class="mx-1">
                <a href="{% url 'logout'%}?next={{request.path}}" class="ext-decoration-none text-light">
                  <span>Cerrar sesión</span>
                </a>
              </div>
              {% endif %}
            </div>
          </div>
      </div>
  </nav>

  {% block content %}{% endblock %}
    
  </body>
</html>
