{% extends "base_generic.html" %}
{% load static %}
{% block content %}
  <main>
    <div class="card" >
      <div class="row justify-content-center mx-0">
        <div class="col-12 col-md-4">
          <div class="text-center">
            <img src="{% static 'images/' %}{{usuario.imagen}}" class="card-img-top" alt="..." style="width: 15rem;">
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card-body">
            <h5 class="card-title">{{ usuario.nombre }} {{ usuario.apellido_uno }} {{ usuario.apellido_dos }}</h5>
            <p class="card-text">{{ usuario.numero_empleado }}</p>
            <p class="card-text">{{ usuario.cargo }}</p>
            <p class="card-text">{{ usuario.zona }}</p>
            <p class="card-text">{{ usuario.municipio }}, {{ usuario.departamento }}</p>
            <p class="btn btn-primary">  
              {% if usuario.cargo != "Ejecutivo Comercial" %}
                ${{ ventas_total }}
              {% else %}
                ${{ usuario.ventas }}
              {% endif %}  
            </p>
            <p class="card-text"><strong>Teléfono:</strong> {{ usuario.celular }}</p>
            <p class="card-text"><strong>Email:</strong> {{ usuario.email }}</p>
            <p class="card-text"><strong>Fecha de Nacimiento:</strong> {{ usuario.fecha_nacimiento }}</p>
            <p class="card-text"><strong>Número de Cédula:</strong> {{ usuario.cedula }}</p>
            <p class="card-text"><strong>Fecha de Ingreso:</strong> {{ usuario.fecha_ingreso }}</p>
            <p class="card-text">
              <strong>Nombre de Jefe:</strong>
                {% if jefe.nombre %}
                  {% if usuario_logueado_jerarquia <= jefe_jerarquia %}
                    {% if jefe.numero_empleado == user.numero_empleado %}
                      <a href="/{{ jefe.numero_empleado }}">{{ jefe.nombre }} {{ jefe.apellido_uno }} {{ jefe.apellido_dos }}</a>
                    {% else %}
                      {{ jefe.nombre }} {{ jefe.apellido_uno }} {{ jefe.apellido_dos }}
                    {% endif %}
                  {% else %}
                    <a href="/{{ jefe.numero_empleado }}">{{ jefe.nombre }} {{ jefe.apellido_uno }} {{ jefe.apellido_dos }}</a>
                  {% endif %}
                {% else %}
                  No Aplica
                {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% if subalternos %}
    <div class="row d-flex justify-content-center mx-0">
      <div class="col-md-8 col-12">
        <h3 class="card-title text-center">Empleados</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Ventas</th>
            </tr>
          </thead>
          <tbody>
            {% for subalterno in subalternos %}
              <tr>
                <td><a href="/{{ subalterno.numero_empleado }}">{{ subalterno.nombre }} {{ subalterno.apellido_uno }} {{ subalterno.apellido_dos }}</a></td>
                <td>{{ subalterno.ventas }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
  </main>
{% endblock %}