{% extends "base_login.html" %}
{% load static %}
{% block content %}
<main class="form-signin">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
      <img class="mb-4" src="{% static 'assets/brand/su-logo.svg' %}" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Por favor ingresa tus datos</h1>
  
      <div class="form-floating">
        <input type="email" name="username" class="form-control" placeholder="name@example.com" required="" id="id_username">
        <label for="floatingInput">Correo</label>
      </div>
      <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required="" id="id_password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-dark" type="submit" value="login">Ingresar</button>
      {% if form.errors %}
      <p>Error al iniciar sesión. Por favor, intenta de nuevo.</p>
      {% endif %}
      <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
  </form>
</main>
{% endblock %}